.nav-bar{
    color: white;
    background-color: black;
    font-size: larger;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding:2% 0%;
}


 a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

a:hover{
    color:rgb(4, 96, 4) ;
    
}

 li{
   list-style-type: none; 
}

.nav-bar ul{
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10vw;
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#hero{
    background-size: cover;
    width: 100%;
    height: auto;
    display: block;
}

.content{
    display:block;
    margin-left: 5vw;
}

p{
    width: 40vw;
}

.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:10vh 0;
}

.list{
    padding-left: 0px;
}

.list li{
    padding-bottom: 2vh;
    font-size: larger;
    
}

.about_services{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     margin-right: 0px;
}

.button{
    position: fixed;
    background-color: black;
    top: 25%;
    left: 85%;
    
    border-radius:10%;
    padding:1vw;
    transition: all 0.3s ease;
}

.button a{
    text-decoration: none;
}

.button:hover{
    transform: scale(1.1);
    box-shadow:0 6px 20px 2px darkgreen;
}

@media(max-width:3000px){
    .about_services{
       font-size: xx-large;
    }

    #about-img{
         width:51.4vw; 
        height: 100%;
    }

    #services-img{
        width: 47.5vw;
        height: 100%;
    }

    .button{
        font-size:x-large;
        width:8vw;
        height: 11vh;
    }
}


@media(max-width:1300px){
    #about-img{
         width:51.4vw; 
        height: 100%;
    }

    #services-img{
        width: 48.5vw;
        height: 100%;
    }

    .button{
        font-size:medium;
        width:8vw;
        height: 11vh;
    }
}

@media(max-width:760px){
   .about_services{
       font-size: x-large;
    }

    #about-img{
         width:50vw; 
        height: 100%;
    }

    #services-img{
         width:50vw; 
        height: 100%;
    } 
    
     .button{
        font-size:small;
        width:8vw;
        height: 11vh;
    }
}

@media(max-width:580px){
      .button{
        font-size:xx-small;
        width:10vw;
        height: 9vh;
    }
}




