.nav-bar{
    color: white;
    background-color: black;
    font-size: larger;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding:2% 0%;
}


 a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

a:hover{
    color:rgb(4, 96, 4) ;
    
}

 li{
   list-style-type: none; 
}

.nav-bar ul{
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10vw;
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#hero{
    background-size: cover;
    width: 100%;
    height: auto;
    display: block;
}

.content{
    display:block;
     margin-left: 5vw;
}

p{
    width: 40vw;
}

.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:10vh 0;
}

.list{
    padding-left: 0px;
}

.list li{
    padding-bottom: 2vh;
    font-size: larger;
    
}

.about_services{
     display: flex;
     flex-wrap: wrap;
     margin: 0%;
}

#about-img{
    width: 50vw;
    height: 100%;
}

#services-img{
    margin-left: 5vw;
    width: 49vw;
    height: 100%;
}

.button{
    position: fixed;
    background-color: black;
    top: 25%;
    left: 85%;
    width:10% ;
    height: 15%;
    font-size:x-large;
    border-radius: 50%;
    padding:1%;
    transition: all 0.3s ease;
}

.button a{
    text-decoration: none;
}

.button:hover{
    transform: scale(1.1);
    box-shadow:0 6px 20px 2px darkgreen;
}




@media(max-width:2000px){
    .about_services{
       font-size: xx-large;
    }
}

