.nav-bar{
    color: white;
    background-color: black;
    font-size: larger;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding:2% 0%;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

.nav-bar li{
   list-style-type: none; 
}

.nav-bar ul{
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10vw;
}

body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#hero{
    background-size: cover;
    width: 100%;
    height: auto;
    display: block;
}

p{
    display: block;
}

.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}